.background {
  background-image: url("../assets/images/homeScreenBG.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.title-text {
  color: white;
  font-size: 45px;
  font-weight: 150;
}
.getStartedHome {
  height: 40px;
}
.homePageLogo {
  height: 100px;
}
.slick-slide > div {
  margin: 0 10px;
}
